---
layout: "wrapper"
---
<div class="container-fluid">
    <div class="row top-border m-b-20 m-t-20">

        <!--Перша колонка-->
        <div class="project_target col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 col-md-border">
            <div class="padding">

                <h2 class="subtitle m-t-40 m-b-20"><span>Полісі</span></h2>
                <ul class="list-style-type-none m-l-0 p-l-0">

                    <li class="withborder"><a href="{{ site.baseurl }}/assets/files/policy_brief_burshtyn.pdf" target="_blank">Полісі бріф <b>Чорний бурштин</b>. Які держоргани задіяни, і що потрібно зробити,
                        аби припинити нелегальний видобуток.</a></li>

                    <li class="withborder"><a href="http://texty.org.ua/pdf/dnipro_recomm.pdf" target="_blank">Полісі бріф щодо поліпшення ситуації з доступом киян до річки Дніпро</a></li>
                    <li class="withborder"><a href="http://texty.org.ua/pdf/open_data_policy.pdf" target="_blank">Екосистема відкритих даних в Україні</a></li>
                    <li class="withborder"><a href="http://texty.org.ua/pdf/data_quality_policy.pdf" target="_blank">Як покращити якість державних даних</a></li>
                    <li class="withborder"><a href="http://texty.org.ua/pdf/pensions_policy.pdf" target="_blank">Солідарна пенсійна система України: сучасне становище та шляхи реформування</a></li>
                    <li class="withborder"><a href="http://texty.org.ua/pdf/procurement2017_policy.pdf" target="_blank">Як покращити якість державних закупівель та мінімізувати шахрайство</a></li>
                    <li class="withborder"><a href="http://texty.org.ua/pg/article/Oximets/read/83774/Jak_urad_vidkryvaje_dani_pershyj_misac_vykonanna" target="_blank">Як уряд відкриває дані: перший місяць виконання постанови</a></li>
                    <li class="withborder"><a href="http://texty.org.ua/pg/article/editorial/read/84388/Jak_urad_vidkryvaje_dani_drugyj_misac_vykonanna" target="_blank">Як уряд відкриває дані: другий місяць виконання постанови</a></li>
                    <li class="withborder"><a href="http://texty.org.ua/pg/article/editorial/read/82178/V_dopomogu_antykorupcioneram_My_pidgotuvaly_biblioteku_dla" target="_blank">В допомогу антикорупціонерам. Ми підготували "бібліотеку" для мови R для зручнішого аналізу декларацій</a></li>

                </ul>







</div>
            </div>


        <div class="project_target col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 col-md-border">
            <div class="padding">
                <h2 class="subtitle m-t-40 m-b-20"><span>Стандарти</span></h2>
                <p><i>У стадії наповнення</i></p>
                </div>
            </div>



        <!--Друга колонка-->
            <div class="project_target col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 col-md-border">
                 <div class="padding">
                     <h2 class="subtitle m-t-40 m-b-20"><span>Інше</span></h2>
                     <ul class="list-style-type-none m-l-0 p-l-0">
                         <li class="withborder"><a href="http://texty.org.ua/pdf/data2015.pdf" target="_blank">Посібник по роботі з даними (2015 р.)</a></li>
                         <li class="withborder"><a href="http://texty.org.ua/pdf/data2017.pdf" target="_blank">Відкриті дані: формати і правила створення (2017 р.)</a></li>
                     </ul>



        </div>
</div>
        </div>
    </div>





    <div id="prefooter"></div>
