---
layout: wrapper
---

<div class="container-fluid">
    <div class="row top-border m-b-20 m-t-20">
        <div class="project_target col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 col-md-border">
            <div class="padding">

                <div class="row">
                    <div class="col-xs-8 col-md-6">
                        <h2 class="subtitle m-t-40 m-b-40"><span>OUR PROJECTS</span></h2>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <!--<div id="fa-list" class="text" title="Список">-->
                            <!--<i id="hideshow" class="fa fa-list"></i>-->
                            <img id="hideshow" class="fa-list" title="подивитись всі проекти" style="width:30px; height:30px; margin-top: 40px; float:right; " src="{{ site.baseurl }}/assets/img/list.svg"/>

                        <!--</div>-->



                    </div>
                </div>

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">


                        <!-- В нас погані новини -->
                        <div class="item active">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/glitch.jpg"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/d/2018/mnews/"
                                             target="_blank">We’ve Got Bad News</a></span></h3>
                                <p>We have built a neural network able to discern the manipulative news. Then we’ve compiled a ranking consisting of manipulative web-sites from so called «third range» or in other words «junk websites».
                                </p>
                                <a type="button" href="http://texty.org.ua/d/2018/mnews/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---Leprosy-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/leprosy.jpg"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/d/2018/amber/"
                                             target="_blank">Земляна проказа</a></span></h3>
                                <p>За допомогою волонтерів та комп'ютерної моделі ми визначили на супутникових знімках масштаби видобутку бурштину за останні роки.</p>
                                <a type="button" href="http://texty.org.ua/d/2018/amber/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!--Зелений Кропивницький-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/news/kropyvnytskyi.jpg"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/d/2018/trees/"
                                             target="_blank">Зелений Кропивницький</a></span></h3>
                                <p>Інструмент, що допомагає Міській раді міста Кропивницького інформувати громадськість про рішення прийняті у сфері озеленення, а громадськості - контролювати ці рішення.</p>
                                <a type="button" href="http://texty.org.ua/d/2018/trees/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---Auto-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/auto.jpeg"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/cars/"
                                             target="_blank">Перша реєстрація автомобілів</a></span></h3>
                                <p>Щороку в Україні здійснюється понад мільйон реєстраційних операцій. Дослідити реальний стан українського авторинку відтепер можна у кілька кліків.</p>
                                <a type="button" href="http://texty.org.ua/cars/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---Rivers-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/water.png"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/water/"
                                             target="_blank">Чиста вода</a></span></h3>
                                <p>Інтерактивна карта забрудненості річок в Україні на основі даних Державного агентства водних ресурсів.</p>
                                <a type="button" href="http://texty.org.ua/water/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---Carpathians-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/svydovec2.gif"/>
                                <h3><span><a class="no-hover" href="http://texty.org.ua/d/carpathians-3d/"
                                             target="_blank">Cвидовець. Анатомія Карпат</a></span></h3>
                                <p>Розповідь про те, як влаштовані Карпати. Про вирубки, напівлегальні туристичні бази,
                                    полонини, скелі та едельвейси, проблеми гірського району та його перспективи.</p>
                                <a type="button" href="http://texty.org.ua/d/carpathians-3d/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>


                        <!---fb-trolls-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/trolls.jpg"/>
                                <h3><span>Тролесфера</span></h3>
                                <p>Наші аналітики вирахували мережу з близько 2 тисяч користувачів Фейсбуку, яка тісно
                                    пов’язана із групами бойовика ДНР Степана Мазури. Це мережа з публічних груп та
                                    користувачів, які, прикриваючись патріотичними слоганами, поширювали заклики до
                                    перевороту та протестів.</p>

                                <a type="button" href="http://texty.org.ua/d/fb-trolls/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---kiev-buildings-->
                        <div class="item">
                            <div class="photo">
                                <img class="carousel"
                                     src="{{ site.baseurl }}/assets/img/projects/kyiv-buildings.png"/>
                                <h3><span><a class="no-hover"
                                             href="http://texty.org.ua/d/buildings-kyiv/#17/50.46504/30.52256"
                                             target="_blank">Київські розвалини. Інтерактивна карта покинутих будівель Києва</a></span>
                                </h3>
                                <p>Розбиті вікна, покалічені, але міцні стіни, закутані у традиційний зелений паркан.
                                    Декілька секунд стою нерухомо і змушую себе пробратись через поламану огорожу і
                                    зайти в середину.</p>

                                <a type="button" href="http://texty.org.ua/d/buildings-kyiv/#17/50.46504/30.52256"
                                   target="_blank" class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---zakupivli-->
                        <div class="item">
                            <div class="photo">

                                <img class="carousel" src="{{ site.baseurl }}/assets/img/projects/zakupivli2.png"/>
                                <h3><span>Zакупівлі 2.0</span></h3>
                                <p>Аналіз сотень тисяч «протоколів розкриття цінових пропозицій» у Віснику державних
                                    закупівель дав змогу вирахувати три класичні схеми, які застосовувалися, щоб
                                    вигравати тендери до 2015 року. Принаймні один із цих старих методів
                                    використовується і зараз.</p>
                                <a type="button" href="http://z.texty.org.ua/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---yanukovych-travel-uz-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/1.jpg"/>
                                <h3><span>Громадяни пасажири</span></h3>

                                <p>Як, куди і скільки їздили українці міжміським сполученням «Укрзалізниці» у 2014-2015
                                    рр.</p>
                                <a type="button" href="http://texty.org.ua/d/uz/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>

                        <!---socio-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/head-socio.png"/>
                                <h3><span>Продавці рейтингів.База псевдосоціологів</span></h3>
                                <p>Ми зібрали дані про 80 псевдосоціологічних служб та 88 осіб, які оприлюднювали
                                    сумнівні результати протягом останніх 15 років.</p>
                                <a type="button" href="http://texty.org.ua/d/socio/index.html" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">
                            </div>
                        </div>


                        <!---dnipro-->
                        <div class="item">
                            <div class="photo">

                                <video autoplay loop="true">
                                    <source src="{{ site.baseurl }}/assets/video/dnipro.webm"
                                            type="video/webm">
                                </video>
                                <h3><span>Вкрадений Дніпро. Як киян позбавили доступу до ріки</span></h3>
                                <p>У Києві лише 15% берегів Дніпра доступні містянам для прогулянок чи купання в річці.
                                    Все інше — це чагарники, паркани, дороги, промзони.</p>
                                <a type="button" href="http://texty.org.ua/d/longs/dnipro2/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>

                        </div>


                        <!---avia-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/avia.jpg"/>
                                <h3><span>Зліт дозволено</span></h3>
                                <p>Проект являє собою інтерактивний он-лайн інструмент, в якому зібрана інформація про
                                    надані права на міжнародні рейси, умови міжнародних угод про повітряне сполучення,
                                    дані розкладів деяких авіакомпаній.</p>
                                <a type="button" href="http://avia.texty.org.ua/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                        </div>


                        <!---coal-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/coal.jpeg"/>
                                <h3><span>Зима близько. Стеж за запасами вугілля</span></h3>
                                <p>Чи достатньо накопичено запасів на зиму, чи очікувати відключення електроенергії та
                                    купувати буржуйки і дрова? Наш онлайн-інструмент показує щоденний стан справ на
                                    складах ТЕЦ і ТЕС.</p>
                                <a type="button" href="http://coal.texty.org.ua/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                        </div>

                        <!---che-zno-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/che-zno.png"/>
                                <h3><span>На околицях навчають гірше. Як чернівецькі школярі складають ЗНО</span></h3>
                                <p>Учні, що навчаються ближче до центру Чернівців, складають ЗНО краще, ніж учні з
                                    околиць. Які ще фактори впливають на їхній результат? </p>
                                <a type="button" href="http://texty.org.ua/d/che_zno/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                        </div>

                        <!---vinnytsa-->
                        <div class="item">
                            <div class="photo">

                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/vinytsa.png"/>
                                <h3><span>Вінниця комунальна</span></h3>
                                <p>Як швидко міські служби Вінниці реагують на телефонні звернення</p>
                                <a type="button" href="http://texty.org.ua/d/varta_vin/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>
                            </div>
                        </div>

                        <!---three days-->
                        <div class="item">
                            <div class="photo">
                                <video autoplay loop="true">
                                    <source src="{{ site.baseurl }}/assets/video/maidan-bg-blacked.mp4"
                                            type="video/mp4">
                                </video>
                                <h3><span>Три дні перед весною</span></h3>

                                <p>Хто, коли і де загинув на Майдані 18–20 лютого 2014 року.</p>
                                <a type="button" href="http://texty.org.ua/d/maidan_maps/" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>

                            </div>
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>

                        <!---pension game-->
                        <div class="item">
                            <div class="photo">
                                <img style="width:100%" src="{{ site.baseurl }}/assets/img/projects/pension.png"/>
                                <h3><span>Признач собі пенсію</span></h3>
                                <p>І перевір, чи держава зможе її виплатити. Ключовий показник — розмір «дірки» у
                                    бюджеті Пенсійного фонду.</p>
                                <a type="button" href="http://texty.org.ua/d/pension-game/#" target="_blank"
                                   class="btn btn-link butt">Перейти до проекту</a>


                            </div>
                            <div class="carousel-caption">

                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> <!-- end of carousel -->

                <div id="list">
                    <h3 class="whiteborder"><a href="http://texty.org.ua/d/2018/mnews/">В нас погані новини</a></h3>
                    <p class="m-b-50">Ми збудували глибоку нейромережу й навчили її виявляти маніпулятивні новини. Так ми зробили рейтинг маніпулятивних сайтів із так званого «третього ешелону», або, по-іншому — «зливних бачків».</p>

                    <h3 class="withborder"><a href="http://texty.org.ua/d/2018/amber/" target="_blank">Земляна проказа</a></h3>
                    <p class="m-b-50">За допомогою волонтерів та комп'ютерної моделі ми визначили на супутникових знімках масштаби видобутку бурштину за останні роки.</p>

                    <h3 class="withborder"><a href="http://texty.org.ua/d/2018/trees//" target="_blank">Зелений Кропивницький</a></h3>
                    <p class="m-b-50">Інструмент, що допомагає міській раді міста Кропивницького інформувати громадськість про рішення прийняті у сфері озеленення, а громадськості - контролювати ці рішення.</p>

                    <h3 class="withborder"><a href="http://texty.org.ua/cars/" target="_blank">Перша реєстрація автомобілів в Україні</a></h3>
                    <p class="m-b-50">Щороку в Україні здійснюється понад мільйон реєстраційних операцій. Дослідити реальний стан українського авторинку відтепер можна у кілька кліків.</p>



                    <h3 class="withborder"><a href="http://texty.org.ua/water/" target="_blank">Чиста вода</a></h3>
                    <p class="m-b-50">Інтерактивна карта забрудненості річок в Україні на основі даних Державного агентства водних ресурсів.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/carpathians-3d/" target="_blank">Cвидовець.
                        Анатомія Карпат</a></h3>
                    <p class="m-b-50">Розповідь про те, як влаштовані Карпати. Про вирубки, напівлегальні туристичні
                        бази, полонини, скелі та едельвейси, проблеми гірського району та його перспективи.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/fb-trolls/" target="_blank">Тролесфера</a>
                    </h3>
                    <p class="m-b-50">Ми вирахували мережу з близько 2 тисяч користувачів Фейсбуку, яка тісно
                        пов’язана із групами бойовика ДНР Степана Мазури. Це мережа з публічних груп та
                        користувачів, які, прикриваючись патріотичними слоганами, поширювали заклики до
                        перевороту та протестів.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/buildings-kyiv/#17/50.46504/30.52256"
                                              target="_blank">Київські розвалини. Інтерактивна карта покинутих будівель
                        Києва</a></h3>
                    <p class="m-b-50">Розбиті вікна, покалічені, але міцні стіни, закутані у традиційний зелений
                        паркан.
                        Декілька секунд стою нерухомо і змушую себе пробратись через поламану огорожу і
                        зайти в середину.</p>


                    <h3 class="withborder"><a href="http://z.texty.org.ua/" target="_blank">Zакупівлі 2.0</a></h3>
                    <p class="m-b-50">Аналіз сотень тисяч «протоколів розкриття цінових пропозицій» у Віснику державних
                        закупівель дав змогу вирахувати три класичні схеми, які застосовувалися, щоб
                        вигравати тендери до 2015 року. Принаймні один із цих старих методів
                        використовується і зараз.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/uz/" target="_blank">Громадяни пасажири</a>
                    </h3>
                    <p class="m-b-50">Як, куди і скільки їздили українці міжміським сполученням «Укрзалізниці» у
                        2014-2015
                        рр.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/socio/index.html" target="_blank">Продавці
                        рейтингів.База псевдосоціологів</a></h3>
                    <p class="m-b-50">Ми зібрали дані про 80 псевдосоціологічних служб та 88 осіб, які
                        оприлюднювали
                        сумнівні результати протягом останніх 15 років.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/longs/dnipro2/" target="_blank">Вкрадений
                        Дніпро. Як киян позбавили доступу до ріки</a></h3>
                    <p class="m-b-50">У Києві лише 15% берегів Дніпра доступні містянам для прогулянок чи купання в
                        річці.
                        Все інше — це чагарники, паркани, дороги, промзони.


                    <h3 class="withborder"><a href="http://avia.texty.org.ua/" target="_blank">Зліт дозволено</a></h3>
                    <p class="m-b-50">Проект являє собою інтерактивний он-лайн інструмент, в якому зібрана інформація
                        про
                        надані права на міжнародні рейси, умови міжнародних угод про повітряне сполучення,
                        дані розкладів деяких авіакомпаній.</p>


                    <h3 class="withborder"><a href="http://coal.texty.org.ua/" target="_blank">Зима близько. Стеж за
                        запасами вугілля</a></h3>
                    <p class="m-b-50">Чи достатньо накопичено запасів на зиму, чи очікувати відключення електроенергії
                        та
                        купувати буржуйки і дрова? Наш онлайн-інструмент показує щоденний стан справ на
                        складах ТЕЦ і ТЕС.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/che_zno/" target="_blank">На околицях навчають
                        гірше. Як чернівецькі школярі складають ЗНО</a></h3>
                    <p class="m-b-50">Учні, що навчаються ближче до центру Чернівців, складають ЗНО краще, ніж учні з
                        околиць. Які ще фактори впливають на їхній результат?</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/varta_vin/" target="_blank">Вінниця
                        комунальна</a></h3>
                    <p class="m-b-50">Як швидко міські служби Вінниці реагують на телефонні звернення</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/maidan_maps/" target="_blank">Три дні перед
                        весною</a></h3>
                    <p class="m-b-50">Хто, коли і де загинув на Майдані 18–20 лютого 2014 року.</p>


                    <h3 class="withborder"><a href="http://texty.org.ua/d/pension-game/#" target="_blank">Признач собі
                        пенсію</a></h3>
                    <p class="m-b-50">І перевір, чи держава зможе її виплатити. Ключовий показник — розмір «дірки» у
                        бюджеті Пенсійного фонду.</p>


                </div>


            </div>
        </div>


        <div class="news_target col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4 col-md-border">
            <div class="padding">
                <div class="row">
                    <div class="col-xs-8 col-md-6">
                        <h2 class="xs-top-margin subtitle m-t-40 m-b-40"><span>Новини</span></h2>
                    </div>
                    <div class="col-xs-3 col-md-6">
                        <!--<div class="xs-top-margin text" title="Розгорнути">-->
                            <!--<i class="news fa fa-long-arrow-right"></i>-->
                            <img class="news arrow-left m-t-40" style="width:30px; height:30px; transform: rotate(180deg); float:right" title='Розгорнути' src="https://cafejavas.co.ug/wp-content/uploads/2017/10/angle_left1600.png"/>
                        <!--</div>-->
                    </div>
                </div>


                {% assign posts_ukr = site.posts | where: "lang", "en" %}
                <div class="lang">
                        {% for post in posts_ukr %}
                        <h5 class="highlited"><span>{{ post.heading }}</span></h5>
                        <h3><a class="no-hover" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                        <p> {{ post.date | date: "%-d-%m-%Y" }}
                        <p>
                        <p class="post-lead"> {{ post.lead }} </p>

                        <!--social icons-->
                        <div id="share-bar m-b-10">
                            <div class="share-buttons">
                                <a style='text-decoration:none;'
                                   type="icon_link"
                                   onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]={{ post.title }}&p[summary]={{ post.lead }}&p[url]=http://datajournalism.agency/{{ post.url }}&p[images][0]={{ post.image }}',  'sharer', 'toolbar=0,status=0,width=580,height=325');"
                                   href="javascript: void(0)" title="Поділитись"><i
                                        class="fa fa-facebook-official share-button m-b-70 m-r-3 p-t-5 p-r-10 p-b-5 p-l-10"></i>
                                </a>

                                <a href="https://twitter.com/intent/tweet?text=http://datajournalism.agency/{{ post.url }}"
                                   onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                   title="Поділитись">
                                    <i class="fa fa-twitter share-button m-b-70 m-r-3 p-t-5 p-r-10 p-b-5 p-l-10"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                </div>

                <!--{% for post in paginator.posts %}-->

                <!--<h5 class="highlited"><span>{{ post.heading }}</span></h5>-->
                <!--<h3><a class="no-hover" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>-->
                <!--<p> {{ post.date | date: "%-d-%m-%Y" }}-->
                <!--<p>-->
                <!--<p class="post-lead"> {{ post.lead }} </p>-->

                <!--&lt;!&ndash;social icons&ndash;&gt;-->
                <!--<div id="share-bar m-b-10">-->
                    <!--<div class="share-buttons">-->
                        <!--<a style='text-decoration:none;'-->
                           <!--type="icon_link"-->
                           <!--onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]={{ post.title }}&p[summary]={{ post.lead }}&p[url]=http://datajournalism.agency/{{ post.url }}&p[images][0]={{ post.image }}',  'sharer', 'toolbar=0,status=0,width=580,height=325');"-->
                           <!--href="javascript: void(0)" title="Поділитись"><i-->
                                <!--class="fa fa-facebook-official share-button m-b-70 m-r-3 p-t-5 p-r-10 p-b-5 p-l-10"></i>-->
                        <!--</a>-->

                        <!--<a href="https://twitter.com/intent/tweet?text=http://datajournalism.agency/{{ post.url }}"-->
                           <!--onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"-->
                           <!--title="Поділитись">-->
                            <!--<i class="fa fa-twitter share-button m-b-70 m-r-3 p-t-5 p-r-10 p-b-5 p-l-10"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->

                <!--{% endfor %}-->


                <!--&lt;!&ndash; pagination &ndash;&gt;-->
                <!--{% if paginator.total_pages > 1 %}-->
                <!--<div class="pagination">-->
                    <!--{% if paginator.previous_page %}-->
                    <!--<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;-->
                        <!--Попередня</a>-->
                    <!--{% else %}-->
                    <!--<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"></a>-->
                    <!--<span></span>-->
                    <!--{% endif %}-->

                    <!--{% for page in (1..paginator.total_pages) %}-->
                    <!--{% if page == paginator.page %}-->
                    <!--<span class="webjeda">{{ page }}</span>-->
                    <!--{% elsif page == 1 %}-->
                    <!--<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>-->
                    <!--{% else %}-->
                    <!--<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>-->
                    <!--{% endif %}-->
                    <!--{% endfor %}-->

                    <!--{% if paginator.next_page %}-->
                    <!--<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Наступна &raquo;</a>-->
                    <!--{% else %}-->
                    <!--<span></span>-->
                    <!--{% endif %}-->
                <!--</div>-->
                <!--{% endif %}-->

            </div>
        </div>


        <div class="team_target col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-4">
            <div class="padding">
                <div class="row">
                    <div class="col-xs-8 col-md-6">
                        <h2 class="xs-top-margin subtitle m-t-40 m-b-40"><span>Команда</span></h2>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <img class="team arrow-left" style="width:30px; height:30px; margin-top: 40px; display:none; float:right" title='Розгорнути' src="https://cafejavas.co.ug/wp-content/uploads/2017/10/angle_left1600.png"/>
                    </div>
                </div>

                <div class="row">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img style="margin-top:-40px!important;" class="team-img"
                                     src="{{ site.baseurl }}/assets/img/roman.png"/>

                            </td>
                            <td>
                                <p class="team-descript" style="margin-top:-40px!important;">Виконавчий директор ГО «Агенція журналістики даних». Цінує хороші тексти і вчасні дедлайни.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Роман<br><span
                                        style="text-transform: uppercase;">Кульчинський</span> </b></h5>

                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Roman-->


                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/tolik.png"/>
                            </td>
                            <td>
                                <p class="team-descript"> Заступник виконавчого директора, керівник напрямку журналістики даних та інфографіки. Учасник журі на світовому конкурсі з інфографіки "Малофей-22"(2014 рік)</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Анатолій<br><span
                                        style="text-transform: uppercase;">Бондаренко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Tolik-->


                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/galyna.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Заступник виконавчого директора. Керівник проектів. Відповідає
                                    за організаційний розвиток та роботу з донорами. Має досвід роботи в бізнесі.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Галина<br><span
                                        style="text-transform: uppercase;">Пастух</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Galyna-->


                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/vlad.png"/>

                            </td>
                            <td>
                                <p class="team-descript">Програміст. Скрейпінг, обробка даних, аналіз даних. Також
                                    створює інтерактивні візуалізації з d3.js, фанатіє від роботи з картами. Цікавиться
                                    аналізом даних соціальних мереж.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Влад<br><span
                                        style="text-transform: uppercase;">Герасименко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Vlad-->

                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/sashko.png"/>

                            </td>
                            <td>
                                <p class="team-descript">Аналітик даних. Збір і аналіз даних. Керівник проекту
                                    «Вкрадений Дніпро». Досліджує доступність публічного простору в Києві, маніпуляції
                                    громадською думкою.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Олександр<br><span
                                        style="text-transform: uppercase;">Оксимець</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Sashko-->

                    <!-- Romanenko-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/romanenko.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Аналітик даних. Соціолог. Досліджує соціальні мережі,
                                    пропаганду, фейки.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Надія<br><span
                                        style="text-transform: uppercase;">Романенко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Романенко-->

                    <!-- Kelm-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/kelm.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Графічна дизайнерка, займається візуалізацією даних, дата-артом, працює з картами, супутниковими знімками, створює 3d-моделі місцевостей.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Надя<br><span
                                        style="text-transform: uppercase;">Кельм</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Kelm-->


                    <!-- Drozdova-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/drozdova2.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Аналітик даних, журналіст, дизайнер.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Євгенія<br><span
                                        style="text-transform: uppercase;">Дроздова</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Drozdova-->

                    <!-- Tymoshyk -->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/tymoshuk.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Журналіст.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Ярослава<br><span
                                        style="text-transform: uppercase;">Тимощук</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Drozdova-->

                    <!-- Tymoshenko-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/tymoshenko.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Відповідальна за SMM. Веде сторінки організації в соціальних
                                    мережах.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Олександра<br><span
                                        style="text-transform: uppercase;">Тимошенко</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Tymoshenko-->


                    <!-- Dmytro-->
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <img class="team-img" src="{{ site.baseurl }}/assets/img/dmytro.png"/>
                            </td>
                            <td>
                                <p class="team-descript">Івент-менеджер. Планує і координує круглі столи,
                                    прес-конференції, дискусії, презентації, різноманітні освітні заходи.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 class="team-descript-name" style="text-align: right"><b>Дмитро<br><span
                                        style="text-transform: uppercase;">Колесник</span> </b></h5>
                            </td>
                        </tr>
                        </tbody>
                    </table> <!--end of Dmytro-->


                </div>


            </div>
        </div>
    </div>
    <div id="prefooter"></div>
</div>

<script>
    $('.carousel').carousel()

</script>

<!--{% for file in site.static_files %}-->
<!--{% if file.image %}-->

<!--<img src="{{ file.path }}" alt="{ file.name }">-->

<!--{% endif %}-->
<!--{% endfor %}-->
