---
layout: "wrapper"
---

<div class="container-fluid">
    <div class="row top-border m-b-20 m-t-20">


        <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-6 col-md-push-1 col-md-border">
            <div class="padding">
                <div class="col-md-10">


                <!--Донор 1-->

                <h2 class="subtitle m-t-40 m-b-40"><span>Фонд «Євразія»</span></h2>
                <div id="logoOne">
                    <img class="donor-logo" src="assets/img/partners_logo/USAID.png">
                    <img class="donor-logo" src="assets/img/partners_logo/UKaid.jpg">
                    <img class="donor-logo" src="assets/img/partners_logo/logo ef.png">
                    <img class="donor-logo" src="assets/img/partners_logo/poslidovnist.jpg">
                </div>
                <h3 class="donors m-t-40 m-b-20">Проект «Підзвітність та прозорість в державному секторі та послугах»</h3>
                <p><b>Термін реалізації</b> проекту: 30/10/2016 – 30/06/2021</p>
                <p>Метою проекту є <b>підвищення доступності та якості відкритих даних в Україні.</b></p>
                <p><b>Основні напрямки роботи</b> нашої організації по проекту включають:</p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <p class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    – проекти співпраці з міністерствами щодо імплементації політики відкритих даних;
                                </a>
                            </p>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                Наші фахівці проводили аудит даних, пріоритетних наборів даних для подальшої публікації,
                                готували нормативні документи та рекомендації, проводили консультації та семінари, а
                                також
                                готували інтерактивні візуалізації на основі відкритих даних.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <p class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    – cпівпраця з муніципалітетами «Відкриті дані для міста»;
                                </a>
                            </p>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body"> Другий рік поспіль міські ради, які прагнуть поліпшити життя
                                громади та
                                управління містом через забезпечення доступу до важливої інформації у форматі відкритих
                                даних, долучаються до муніципальних проектів «Відкриті дані для міста».
                                Першими містами-учасниками у 2017 році стали Вінницька та Чернівецька міські ради: за
                                допомогою експертів проекту вони розробляли нормативну базу, проводили аудит,
                                публікували
                                нові набори відкритих даних і створювали корисні для міста веб-інструменти.
                                Два міста-учасники проекту долучилися до Міжнародної хартії відкритих даних та разом із
                                експертами розробили плани дій з реалізації її принципів. Ці міста взяли на себе
                                зобов’язання перед світовою спільнотою щодо розвитку відкритих даних у своїх громадах.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <p class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    – cтворення Національної мережі тренерів із відкритих даних.
                                </a>
                            </p>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                Створення Національної мережі тренерів із відкритих даних.</b> Національна мережа
                                тренерів
                                із відкритих даних об’єднує агентів змін, які сприяють розвитку відкритих даних у містах
                                України. У рамках програми організатори забезпечують підготовку та підтримку тренерів,
                                які
                                проводять майстер-класи, воркшопи та консультації з відкриття даних для місцевих органів
                                влади. <a style="border-bottom:1px dashed"
                                          href="https://oximets.carto.com/viz/5c0a8604-5a63-4f08-82b7-9ff5b2cabee0/embed_map"
                                          target="_blank">Мережа</a> була створена в 2017 році й уже налічує близько 40
                                тренерів із відкритих даних
                                у 26 містах України
                                <iframe width="100%" height="400" frameborder="0"
                                        src="https://oximets.carto.com/viz/5c0a8604-5a63-4f08-82b7-9ff5b2cabee0/embed_map"
                                        allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen
                                        msallowfullscreen></iframe>

                                Проведення навчальних заходів (воркшопів, дата-кемпів, тренінгів та семінарів) для
                                роботи з
                                даними (пошук та аналіз даних, робота з відкритими даними, інфографіки, журналістики
                                даних
                                та написання текстів) для різноманітних цільових аудиторій: держслужбовці, громадські
                                активісти, журналісти, розробники, аналітики даних тощо.
                            </div>
                        </div>
                    </div>
                </div>

                <!--Донор 2-->
                <div class="subtitleBorder m-t-150 m-b-40">
                    <h2 class="m-b-0 m-t-0 p-t-0 p-b-0"><span>Міжнародний фонд «Відродження»</span></h2>
                </div>
                <div id="logoTwo">
                    <img class="donor-logo" src="assets/img/partners_logo/Sweden_logotype_Ukraine.jpg">
                    <img class="donor-logo" src="assets/img/partners_logo/think_tank_fund.jpg">
                    <img  class="donor-logo"src="assets/img/partners_logo/vidrodzhennya.png">

                </div>
                <h3 class="donors m-t-40 m-b-20">Проект «Інституційний розвиток інноваційного аналітичного центру «Агенція
                    журналістики даних»</h3>
                <p><b>Термін реалізації</b> проекту: 1/12/2017 – 30/10/2018 </p>
                <p>Інституційний грант спрямований на посилення інституційної спроможності аналітичного центру «Агенція
                    журналістики даних».</p>
                <p>Грант надано в рамках Ініціативи з розвитку аналітичних центрів в Україні, яку реалізовує Міжнародний
                    фонд «Відродження» у партнерстві з Ініціативою відкритого суспільства для Європи (OSIFE) за
                    фінансової
                    підтримки Посольства Швеції в Україні.</p>
                <p>З 2014 року Ініціатива розвиває інституційну спроможність українських аналітичних центрів, робота
                    яких
                    змінює якість публічної політики в державі. Формується нова практика прийняття державних рішень,
                    коли
                    аналітика лягає в їх основу та стає незамінною для влади. Відтак завдяки Ініціативі вдалося
                    реалізувати
                    чимало корисних ідей і проектів, сформувати ключову команду організації, зробити дослідження
                    аналітиків
                    більш мастшабними та інноваційними, що зрештою призводить до кращих змін в нашій країні.</p>
                <p>Успіх трирічної діяльності Ініціативи спонукав її авторів до продовження проекту – у жовтні 2017-го
                    стартувала друга хвиля TTDI, учасником якої обрано аналітичний центр «Агенція журналістики
                    даних».</p>
                <p><b>Ключовими напрямками роботи по проекту є</b>: розвиток аналітичного компоненту організації,
                    розвиток
                    міжнародної комунікації, пошук європейських партнерів для створення спільних проектів, розвиток
                    партнерства з державними органами влади,  розвиток персоналу організації. </p>


                <!--Донор 3-->
                <div class="subtitleBorder  m-t-150 m-b-40">
                    <h2 class="m-b-0 m-t-0 p-t-0 p-b-0"><span>Міжнародний фонд «Відродження»</span></h2>
                </div>
                <div id="logoThree">
                    <img class="donor-logo" src="assets/img/partners_logo/vidrodzhennya.png">
                </div>
                <h3 class="donors m-t-40 m-b-20" style="margin-top:100px">Проект «Аналіз фейкових новин в українських
                    Інтернет-медіа»</h3>
                <p><b>Термін реалізації</b> проекту: 1/11/2017 – 30/09/2018</p>
                <p><b>Мета проекту</b> - сприяти боротьбі з фейковими новинами шляхом кількісного дослідження
                    маніпулятивних, клікабельних та пропагандистських новин у медіапросторі. А також виявити мережу
                    новинних
                    інтернет сайтів, які постійно і масово публікують фейкові новини і як результат вони стають
                    вірусними у
                    соціальних мережах. Ми прагнемо стимулювати обговорення шляхів вирішення проблеми фейкових новин
                    серед
                    громадськості, медіа та представників влади.</p>


                <!--Донор 4-->
                <div class="subtitleBorder m-t-150 m-b-40">
                    <h2 class="m-b-0 m-t-0 p-t-0 p-b-0"><span>National Endowment for Democracy (NED)</span></h2>
                </div>
                <div id="logoFour">
                    <img class="donor-logo" src="assets/img/partners_logo/NED.png">


                </div>
                <h3 class="donors m-t-40 m-b-20">Проект Promoting Government Transparency through Media</h3>
                <p><b>Термін реалізації</b> проекту: 1/07/2016 – 30/06/2018</p>
                <p>Проект націлений на формування у громадян звички критично мислити і робити висновки на основі фактів.
                    Інтернет-видання Texty.org.ua висвітлює події і тенденції в Україні через аналіз даних і ґрунтовні
                    журналістські матеріали. Особливістю проекту є публікація матеріалів на теми, які рідко
                    висвітлюються
                    іншими ЗМІ. </p>
                <p>В рамках проекту видання щомісяця створює і публікує десятки інфографік, матеріали в жанрі
                    журналістики
                    даних, а також статті і репортажі на актуальні теми, пов'язані з реформами державного управління та
                    суспільства загалом.</p>
                <p>Окремі матеріали з сайту поширюються через соцмережі, а обрані теми і вебаплікації також публікуються
                    у
                    співпраці з іншими загальнонаціональними виданнями. Поширення продуктів проекту має на меті також
                    створювати попит в суспільстві на використання даних і роботу з даними в редакціях українських
                    ЗМІ.</p>
</div>
            </div>
        </div>

        <div class="col-xs-offset-2 col-xs-8 col-md-offset-1 col-md-3">
            <div class="padding">
                <!--Донор 5-->
                <div class="brussel m-b-40" >
                    <h2 class="m-b-0 m-t-0 p-t-0 p-b-0"><span>Офіс зв'язку українських аналітичних центрів у Брюсселі</span>
                    </h2></div>
                <div id="logoFive">
                    <img class="donor-logo" style="margin-bottom:30px;" src="assets/img/partners_logo/site-logo-ua.png">
                </div>
                <p>Агенція є членом мережі аналітичних центрів, які разом представляють українську аналітику на
                    європейському просторі.</p>
                <p>Місія Офісу зв’язку українських аналітичних центрів в Брюсселі полягає у міжнародній комунікації
                    української експертної думки. Офіс слугує постійно діючою, незалежною платформою для обговорення і
                    вирішення критично важливих питань у відносинах між Україною і ЄС та розбудовує мережу науковців і
                    політиків в Європі з метою досягнення тривалого впливу на демократичний розвиток та європейську
                    інтеграцію України.</p>

            </div>
        </div>

    </div>

    <div id="prefooter"></div>
</div>