---
layout: "wrapper-post"
---
<div class="container-fluid">
    <div class="top-border m-b-20 m-t-20">
        <div class="row marg_top">
            <div class="col-md-6 col-md-push-1 col-md-border">
                <div class="padding">
                    <div class="col-md-10">

                        <h3 class="m-t-30 m-b-50">{{ page.title }}</h3>
                        <p> {{ page.date | date: "%-d-%m-%Y" }}</p>
                        <div class="m-b-50">
                            {{ content }}
                        </div>

                        <!--social icons-->
                        <div id="share-bar">

                            <div class="share-buttons">
                                <!--<a class="no-hover"-->
                                   <!--href="https://www.facebook.com/sharer/sharer.php?u=http://texty.org.ua/dja{{ page.url }}"-->
                                   <!--onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"-->
                                   <!--title="Share on Facebook">-->
                                    <!--<i class="fa fa-facebook-official share-button"></i>-->
                                <!--</a>-->
                                <a style='text-decoration:none;'
                                   type="icon_link"
                                   onClick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]={{ page.title }}&p[summary]={{ page.lead }}&p[url]=http://datajournalism.agency{{ page.url }}&p[images][0]={{ page.image }}',  'sharer', 'toolbar=0,status=0,width=580,height=325');"
                                   href="javascript: void(0)" title="Поділитись"><i
                                        class="fa fa-facebook-official share-button m-b-70 m-r-3 p-t-5 p-r-10 p-b-5 p-l-10"></i>
                                </a>

                                <a class="no-hover"
                                   href="https://twitter.com/intent/tweet?text=http://datajournalism.agency{{ page.url }}"
                                   onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                   title="Поділитись">
                                    <i class="fa fa-twitter share-button m-b-70 m-r-3 p-t-5 p-r-10 p-b-5 p-l-10"></i>
                                </a>



                            </div>

                        </div><!--end of social icons-->
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <div class="padding">
                    <h2  class="subtitle m-t-40 m-b-40"><span>Останні новини</span></h2>
                    {% for post in site.posts limit:5 %}

                    <h5 class="highlited"><span>{{ post.heading }}</span></h5>
                    <p> {{ post.date | date: "%-d-%m-%Y" }}
                    <h3 class="m-b-50"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>


                    {% endfor %}
                </div>

            </div>


        </div>
        <div id="prefooter"></div>
    </div>
</div>


